#parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Full height of the viewport */
  }
  
#game-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1vw; 
      width: 45vw; 
      height: 45vh; 
  }
  
.block {
  
    border: solid thin #000;
    display:flex;            
    justify-content:center;  
    align-items:center;
    border-radius: 10px;
    font-size :3vw;
    background-color : rgb(206, 85, 206);
    transition : transform .2s; 
    cursor:pointer;
    aspect-ratio: 1 / 1;
  }
.block:hover{
      transform :scale(1.05);
  }
#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2vw; /* Adjust as needed */
}

  